{% extends 'training/home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
    {% block content %}
        <h2> About Accion Labs <br></h2>
           <p> We Are A Product Engineering Company Committed To Help You Transform Your Business Using Emerging Technologies</p>
    {% endblock content %}
</body>
</html>
