{% extends 'training/home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h2> Contact Us <br></h2>
            <p>We work with technology organizations of all sizes from small startups to established enterprises across the globe.<br>
            If you need emerging technology expertise to help solve a problem and would like to discuss how ACCION LABS or any of our subsidiaries can work with you, 
            Please provide your contact details and we will reach out to you within one business day.</p>
    {% endblock content %}
</body>
</html>